<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/big_profile_css.css">
    <title>Document</title>
</head>
<body>
    <div id="pagecontainer">
        <div class="topnav" id="myTopnav">
            <a href="main_page_without_slider.html" class="active">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
        </div>
        <div id="main">
            <div id="profile">
                <h1>Ваш аккаунт</h1>
                <div id="imgProfile">
                    <img src="../static/images/empty_profile.png">
                </div>
                <div class="info">
                    <label for="name">Тмя: </label>
                    <label for="surname">Фамилия: </label>
                    <label for="sity">Город: </label>
                    <label for="instrument">Инструмент: </label>
                    <label for="phone">Телефон: </label>
                    <label for="email">Почта: </label>
                    <label for="born">Дата рождения: </label>
                    <label for="exp">Опыт: </label>
                    
                </div>
                <button type="button" name="change">Изменить аккаунт</button>
                <button type="button" name="delete">Удалить профиль</button>
                <button type="button" name="publish">Опубликовать страницу</button>
                <button type="button" name="exit">Выйти из профиля</button>
            </div>

            <div id="footer">
                <p>Связаться с нами: DeadLiners@mail.com</p>
            </div>
        </div>
    </div>
    <script>
        function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
            x.className += " responsive";
          } else {
            x.className = "topnav";
          }
        }
        </script>
</body>
</html>