<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main_page_slider_css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <div id="pagecontainer">
        <div class="navbar-top" id="myNavbar">
            <a href="main_page.html" class="active">Главная</a>
            <a href="search_group.html">Поиск</a>
            <a href="#create">Регистрация</a>
            <a href="#login">Авторизация</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i></a>
        
        </div>

        <div id="bannerslider">
            <div class="slide">
                <img src="../static/images/1slide.webp" />
            </div>
            <div class="slide">
                <img src="../static/images/2slide.webp" />
            </div>
            <div class="slide">
                <img src="../static/images/3slide.webp" />
            </div>
            <div class="slide">
                <img src="../static/images/4slide.webp" />
            </div>
            <div class="slide">
                <img src="../static/images/5slide.webp" />
            </div>
            <div class="empty">dfghh</div>
        </div>
        <div id="footer">
            fhjkm dfghjk,hntuh
        </div>

    </div>
    <script>
        function myFunction() {
          var x = document.getElementById("myNavbar");
          if (x.className === "navbar-top") {
            x.className += " responsive";
          } else {
            x.className = "navbar-top";
          }
        }

        let currentIndex = 0;
        const slides = document.querySelectorAll('.slide');
        const slideInterval = 3000;

        function changeSlide() {
            slides[currentIndex].style.opacity = 0;
            currentIndex = (currentIndex + 1) % slides.length;
            slides[currentIndex].style.opacity = 1;
        }

        setInterval(changeSlide, slideInterval);
    </script>
</body>
</html>