<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/search_group.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Поиск групп</title>
</head>
<body>
    <div id="pagecontainer">
        <div class="navbar-top" id="myNavbar">
            <a href="main_page_without_slider.html" class="active">Главная</a>
            <a href="search_group.html">Поиск</a>
            <a href="register_page.html">Регистрация</a>
            <a href="#login">Авторизация</a>
            <a href="big_profile_page.html">Профиль</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div id="search">
            <div class="object">
                <div class="IMG">
                    <img class="myImg" src="../static/images/empty_profile.png">
                </div>
                <div class="info">
                    <p>Имя: 1</p>
                    <p>Инструмент: {{player.instrument}}</p>
                    <p>Опыт игры: {{player.play_year}}</p>
                    <p>Город: {{player.city}}</p>
                    <p>Связаться: {{player.email}} </p>
                </div>
            </div>
            <div class="object">
                <div class="IMG">
                    <img class="myImg" src="../static/images/empty_profile.png">
                </div>
                <div class="info">
                    <p>Имя: 2</p>
                    <p>Инструмент: {{player.instrument}}</p>
                    <p>Опыт игры: {{player.play_year}}</p>
                    <p>Город: {{player.city}}</p>
                    <p>Связаться: {{player.email}} </p>
                </div>
            </div>
        </div>
    </div>  
    </div>
    <script>
        function myFunction() {
          var x = document.getElementById("myNavbar");
          if (x.className === "navbar-top") {
            x.className += " responsive";
          } else {
            x.className = "navbar-top";
          }
        }
    </script>
</body>
</html>